<mat-form-field>
  <mat-label>Timer Frequency</mat-label>
  <mat-select [disabled]="timerOn" [(ngModel)]="checkFreq">
    <mat-option value="10">10s</mat-option>
    <mat-option value="20">20s</mat-option>
    <mat-option value="30">30s</mat-option>
    <mat-option value="60">60s</mat-option>
    <mat-option value="300">5min</mat-option>
    <mat-option value="600">10min</mat-option>
    <mat-option value="1800">30min</mat-option>
    <mat-option value="3600">1Hr</mat-option>
  </mat-select>
</mat-form-field>
<button mat-fab color="primary" (click)="startTimer()" *ngIf="!timerOn">
  Start
</button>
<button mat-fab color="warn" (click)="stopTimer()" *ngIf="timerOn">Stop</button>

{{ data | json }}
<app-pinsearch></app-pinsearch>
<app-districtsearch></app-districtsearch>
<router-outlet></router-outlet>
