<div class="main">
  <div>
    <h3 style="display: inline-block;">Vaccine Availability Tracker</h3>
    <div style="float: right;display: flex;">      
      <a routerLink="about">About</a>
      <mat-icon style="cursor: pointer;" (click)="disableSound=!disableSound" >{{disableSound?'volume_off':'volume_up'}}</mat-icon>      
    </div>    
  </div>
  <div>
    Search By 
    <mat-button-toggle-group appearance="legacy" name="searchType" aria-label="Search Type" [(ngModel)]="searchType" [disabled]="timerOn">
      <mat-button-toggle value="pincode">Pincode</mat-button-toggle>
      <mat-button-toggle value="district">District</mat-button-toggle>
      <!-- <mat-button-toggle value="both" [disabled]="true">Both</mat-button-toggle> -->
    </mat-button-toggle-group>
  </div>
  <div>
    <div *ngIf="searchType == 'pincode' else districtSearch">
      <mat-form-field class="example-full-width">
        <mat-label>Pincode</mat-label>
        <input matInput placeholder="Ex. 560076" [(ngModel)]="pincode" [disabled]="timerOn"/>
      </mat-form-field>
    </div>
    <ng-template #districtSearch>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [disabled]="timerOn" [(ngModel)]="stateId" (ngModelChange)="getDistricts()">
          <mat-option *ngFor="let state of stateList" [value]="state.state_id">
            {{ state.state_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>District</mat-label>
        <mat-select [disabled]="timerOn" [(ngModel)]="districtId">
          <mat-option *ngFor="let district of districtList" [value]="district.district_id">
            {{ district.district_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectDate" [disabled]="timerOn"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Timer Frequency</mat-label>
      <mat-select [disabled]="timerOn" [(ngModel)]="checkFreq">
        <mat-option *ngFor="let a of timerFreqList" [value]="a.value">{{a.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox class="example-margin" [(ngModel)]="availableOnly" style="padding-right: 5px;">Show if Available</mat-checkbox>
    <button mat-fab color="primary" (click)="startTimer()" *ngIf="!timerOn">
      Start
    </button>
    <button mat-fab color="warn" (click)="stopTimer()" *ngIf="timerOn">Stop</button>
    <span *ngIf="lastUpdated && timerOn">
      Last Updated on {{lastUpdated | date: 'dd-MMM-yy HH:mm:ss'}}
    </span>
  </div>
  <hr>
  <div class="grid-block">
    <div *ngIf="timerOn">
      <h3>from {{selectDate | date: 'dd-MMM-yyyy'}} upto 7 days</h3>
      <ng-template #g1nodata>(*data not available)</ng-template>
      <app-datagrid *ngIf="gridData1.length > 0 else g1nodata" [columnsList]="columnList" [data]="gridData1"></app-datagrid>
      <ng-template #g1nodata>(*data not available)</ng-template>
    </div>
    <div *ngIf="timerOn">
      <h3>from {{w2 | date: 'dd-MMM-yyyy'}} upto 7 days</h3>
      <app-datagrid *ngIf="gridData2.length > 0 else g2nodata" [columnsList]="columnList" [data]="gridData2"></app-datagrid>
      <ng-template #g2nodata>(*data not available)</ng-template>
    </div>
    <div *ngIf="timerOn">
      <h3>from {{w3 | date: 'dd-MMM-yyyy'}} upto 7 days</h3>
      <app-datagrid *ngIf="gridData3.length > 0 else g3nodata" [columnsList]="columnList" [data]="gridData3"></app-datagrid>
      <ng-template #g3nodata>(*data not available)</ng-template>
    </div>
    <div *ngIf="timerOn">
      <h3>from {{w4 | date: 'dd-MMM-yyyy'}} upto 7 days</h3>
      <app-datagrid *ngIf="gridData4.length > 0 else g4nodata" [columnsList]="columnList" [data]="gridData4"></app-datagrid>
      <ng-template #g4nodata>(*data not available)</ng-template>
    </div>
  </div>
  <router-outlet></router-outlet>
  <audio #audioOption>
    <source src="assets/sounds/swiftly-610.mp3" type="audio/mp3">
  </audio>
</div>

